* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* needed to work with 'position: absolute' in the footer
     * implements "sticky" footer */
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Segoe UI", sans-serif;
    margin-bottom: 80px;
}

script { display: none; }

.centered {
    width: 1000px;
    margin: auto;
}

.clear { clear: both; }

nav ul { list-style-type: none; }

/*************************************************************/
header {
    height: 70px;
    background-color: blue;
}

#header_logo { margin-top: 10px; }

#auth {
    float: right;
    margin-top: 15px;
}

.auth_button {
    background-color: #000;
    color: #fff;
    padding: .5em .5em;
    text-decoration: none;
    border-radius: 15px;
}

nav.site_nav ul {
    /* helps distribute nav buttons evenly along the nav bar
     * needs 'display: table-cell' in the child elements (li) to work properly */
    display: table;
    table-layout: fixed;
    width: 100%;
}

nav.site_nav ul li { display: table-cell; }

nav#top_nav { background-color: #000; }

/* inherits from .site_nav */
nav#top_nav li a {
    display: block;
    height: 60px;
    /* vertically align text, make same as height */
    line-height: 60px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: 1px solid #fff;
}

/*************************************************************/
nav#lessons_nav {
    float: left;
    width: 18%;
}

article#lesson_content {
    font-size: 20px;
    float: right;
    width: 82%;
}

.lessons {
    margin-left: 15px;
    overflow: hidden;
    transition: max-height 100ms ease;
}

.lessons li a {
    display: block;
    background-color: #ccc;
    color: #000;
}

/*************************************************************/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* if you adjust height, adjust margin-bottom in body as well */
    height: 80px;
    background-color: black;
    color: #fff;
}

/* has class .site_nav */
nav#bottom {
    margin: 10px 0 0 60px;
    width: 60%;
}

nav#bottom ul li { text-align: center; }

nav#bottom ul li a { color: #fff; }

#logo_copyright { float: right; }

#footer_logo { margin-left: 20px; }
