* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { height: 100%; }

body {
    display: table;
    table-layout: fixed;
    width: 100%;
    font-family: 'Segoe UI', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Verdana', sans-serif;
}

.page_row {
    display: table-row;
    width: 100%;
}

script { display: none; }

.centered {
    width: 1000px;
    margin: auto;
}

nav ul { list-style-type: none; }

/*************************************************************/
header.page_row {
    height: 4.4em;
    background-color: #0078d7;
}

#header_logo { margin-top: .62em; }

#auth {
    float: right;
    margin-top: 1em;
}

.auth_button {
    background-color: #000;
    color: #fff;
    padding: .2em .5em;
    text-decoration: none;
    border-radius: 1em;
}

#auth a:hover {
	color:#ffff66;
	}

#auth a:active {
	color:#ffcc00 }

nav.site_nav ul {
    /* helps distribute nav buttons evenly along the nav bar
     * needs 'display: table-cell' in the child elements (li) to work properly */
    display: table;
    table-layout: fixed;
    width: 100%;
}

nav.site_nav ul li { display: table-cell; }

nav#top_nav {
    background-color: #2b2b2b;
    height: max-content;
}

/* inherits from .site_nav */
nav#top_nav li a {
    display: block;
    height: 2.5em;
    /* vertically align text, make same as height */
    line-height: 2.5em;
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: 2px solid #000;
}

nav#top_nav li + li a { border-left-width: 0; }

#top_nav a:hover {color:#002db3;
		background-color:#d9d9d9;}

/*************************************************************/
#content_wrapper { display: table; }

nav#lessons_nav {
    display: table-cell;
    width: 18%; /* overridden by JavaScript */
    border: solid #000;
    /* border width should be equal to nav#top_nav li a */
    border-width: 0 2px;
}

li button{
	display: block;
    color: #00802b;
    padding: 9px 25px;
}

button.categories {
    width: 100%;
    text-align: left;
    padding-left: 1em;
    font-size: 1.3em;
    background-color: #fff;
    border: none;
    border-left: 5px solid #000;
}

article#lesson_content {
    display: table-cell;
    width: 82%; /* overridden by JavaScript */
    font-size: 1.25em;
    padding: 1em;
}

.lessons {
    margin-left: 3.5em;
    overflow: hidden;
    transition: max-height 100ms ease;
}

.lessons li a {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 1.1em;
}

/*************************************************************/
footer.page_row {
    height: 5em;
    background-color: #2b2b2b;
    color: #fff;
}

/* has class .site_nav */
nav#bottom_nav {
    margin: .65em 0 0 3.75em;
    width: 60%;
}

nav#bottom_nav ul li { text-align: center;}

nav#bottom_nav ul li a { color: #fff;}

#bottom_nav a:hover{
	color:#ffff66;}

#logo_copyright { float: right; }

#footer_logo { margin-left: 1.25em; }

/*************************************************************/
@media print {
    body {
        font-size: 12pt;  /* use the font-unit not depending on dpi */ 
    }
    header.page_row {
        background-color: #ffffff;
    }
    header.page_row .centered:after {
        /* put copyright using Unicode hex escape */
        content:"\00A9 Copyright 2017. All Rights Reserved."; 
    }
    article#lesson_content {
        padding: 20px 0px;
    }
    #auth, nav#lessons_nav, .site_nav, footer.page_row { display: none; }
}
