/*************************************************************/
/* REGISTRATION AND LOGIN PAGE - account.html                */
/*************************************************************/

#account label {
    display: inline-block;
    width: 10em;
    margin-right: .5em;
    text-align: right;
}

.account_button {
    text-align: right;
}

.account_table {
    padding-top: 1em;
}
.account_table th {
    font-weight: normal;
}