/*************************************************************/
/* REGISTRATION AND LOGIN PAGE - account.html                */
/*************************************************************/
h2 {
    padding-left: 35%;
}

table {
    margin: 0 auto;
    border: 1px solid black;
    width: 30em;
    padding: 0.2em 0.2em 0 0;
}

input {
    width: 100%;
}

#account th {
    width: 8em;
    padding-right: .3em;
    text-align: right;
}

.account_button {
    text-align: right;
}

.account_table {
    padding-top: 1em;
}

.account_table th {
    font-weight: normal;
}

.required {
    color: #ff0000;
    padding-right: 0.3em;
}

.error {
    white-space: nowrap;
    /*font-size: 0.6em;*/

    position: absolute;
    left: 100%;
    padding: 0.5em 0 0 1em;
    color: #777;
}