* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: table;
    width: 100%;
    font-family: 'Segoe UI', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Verdana', sans-serif;
}

.page_row {
    display: table-row;
    width: 100%;
}

script { display: none; }

.centered {
    width: 1000px;
    margin: auto;
}

nav ul {
    list-style-type: none;
}

/*************************************************************/
/* SITE-WIDE GENERAL STYLES                                  */
/*************************************************************/
main p {
    margin-top: 1.25em;
}

a:link, a:visited {
    color: #0078d7;
}

a:hover {
    color: #262DA8;
}

article {
    font-size: 1.25em;
    padding: 1em;
}

/* Lists

*/

/*************************************************************/
header.page_row {
    height: 7.4em;
    background-color: #0078d7;
    /*background-color: #262DA8;*/
    background: linear-gradient(#0078d7,#262DA8);
}

#header_logo {
    margin-top: .3em;
    position: relative;
    left: -0.79em;
    float: left;
}

#header_title {
    color: white;
    line-height: 3em;
    display: inline-block;
    font-weight: 300;
    font-size: 2.4em;
    text-shadow: 0 0 0.25em hsla(0, 0%, 0%, 0.3);
}

#auth {
    float: right;
    margin-top: 1em;
}

.auth_button {
    background-color: #000;
    color: #fff;
    padding: .2em .5em;
    text-decoration: none;
    border-radius: 1em;
}

#auth a:link, #auth a:visited {
    color: #ffffff;
}

#auth a:hover {
    color: #ffff66;
}

#auth a:active {
    color: #ffcc00;
}

nav.site_nav ul {
    /* helps distribute nav buttons evenly along the nav bar
     * needs 'display: table-cell' in the child elements (li) to work properly */
    display: table;
    table-layout: fixed;
    width: 100%;
}

nav.site_nav ul li { display: table-cell; }

nav#top_nav {
    background-color: #2b2b2b;
    height: 1px;
}

/* inherits from .site_nav */
nav#top_nav li a {
    display: block;
    height: 2.5em;
    /* vertically align text, make same as height */
    line-height: 2.5em;
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-color: #777;
    border-width: 0 1px;
    letter-spacing: 0.05em;
    font-weight: 300;
}

nav#top_nav li + li a { border-left-width: 0; }

#top_nav a:hover {
    color: #002db3;
    background-color: #d9d9d9;
}

/*************************************************************/
/* LESSONS NAV BAR AND CONTENT                               */
/*************************************************************/
nav#lessons_nav {
    float: left;
    padding-top: 1.25em;
    width: 18%; /* overridden by JavaScript */
}

nav#lessons_nav h2 {
    font-size: 1.8em;
    padding-bottom: .8em;
}

button.categories {
    /* expanded and overall style */
    color: #002db3;
    text-align: left;
    padding: .56em 1.56em .56em 1em;
    font-size: 1.3em;
    background-color: #fff;
    outline: none;
    border: none;
    border-left: 5px solid #0078d7;
    cursor: pointer;
    transition: border-color 100ms ease;
}

button.categories.collapsed {
    border-color: #000;
}

article#lesson_content {
    float: right;
    width: 82%; /* overridden by JavaScript */
}

.lessons {
    /* adjusting vertical margins or padding may have unexpected results */
    overflow: hidden;
    transition: max-height 100ms ease;
}

.lessons li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #000;
    font-size: 1.1em;
}

.lessons li a:hover{
    background-color:#d9d9d9;
}

/*************************************************************/
footer.page_row {
    height: 5em;
    background-color: #2b2b2b;
    color: #fff;
}

/* has class .site_nav */
nav#bottom_nav {
    margin: .65em 0 0 3.75em;
    height: 1px;
    width: 60%;
}

nav#bottom_nav ul li {
    text-align: center;
}

nav#bottom_nav ul li a {
    color: #fff;
}

#bottom_nav a:hover {
    color: #ffff66;
}

#logo_copyright {
    float: right;
}

#footer_logo {
    display: inline-block;
}

#copyright {
    display: inline-block;
}
/*************************************************************/
#forum_topics { padding: 1em 0; }

#forum_topics table,
#forum_topics th,
#forum_topics td {
    border: 1px solid #000000;
}

#forum_topics p {
    margin: 1em 0;
}

.forum_header_row {
    background-color: #ffffff;
    text-align: center;
}

#forum_post_id_header { width: 8%; }

#forum_topic_header { width: 75%; }

#forum_post_date_header { width: 17%; }

#forum_post_id_cell { text-align: center; }

#forum_topic_cell { padding: 0.2em 0.5em; }

#forum_topic_cell a { text-decoration: none; }

#forum_post_date_cell { text-align: center; }

/*************************************************************/
#forum_view {
    padding: 1em 0;
}

#forum_view p {
    margin: 1em 0;
}

#forum_view_table {
    width: 65%;
    table-layout: fixed;    /* prvent the text from being out of table */
    word-wrap:break-word;   /* use new line when the text exceeds the table width */
}

.forum_view_header {
    width: 6.5em;
    text-align: left;
}

.forum_view_body {
    padding: 0.2em;
    background-color: #eeeeee;
}

#forum_response_header {
    vertical-align: baseline;
}

#forum_response_post_button {
    text-align: right;
}

#forum_response_text {
    width: 100%;
    height: 7em;
}

#forum_response_form th, #forum_response_form td {
    padding-top: 1em;
}

#forum_comment {
    margin: 2em 0;
}

#forum_comment_table {
    width: 65%;
    table-layout: fixed;    /* prvent the text from being out of table */
    word-wrap:break-word;   /* use new line when the text exceeds the table width */
}

.forum_comment_header {
    width: 8.5em;
}

.forum_comment_body {
    padding: 0.2em;
    background-color: #eeeeee;
}

/*************************************************************/
#forum_post_table {
    width: 60%;
}

#forum_add_topic {
    padding: 1em 0;
}

#forum_add_topic p {
    margin: 1em 0;
}

.forum_post_header {
    width: 6.5em;
    text-align: left;
}

#forum_post_title {
    width: 100%;
}

#forum_post_text {
    width: 100%;
    height: 7em;
}

/*************************************************************/
#catalog {
    padding: 1em 0;
}

#shortcut_catalog {
    border: 1px solid #000000;
    width: 80%;
    table-layout: fixed;    /* prvent the text from being out of table */
    word-wrap:break-word;   /* use new line when the text exceeds the table width */
    margin: 1em 0;
}

#shortcut_catalog th {
    width: 12em;
    border: 1px solid #000000;    
}

#shortcut_catalog td {
    border: 1px solid #000000;    
}

#shortcut_catalog th, #shortcut_catalog td {
    padding: 0.1em 0.2em;
}

/*************************************************************/
#about {
    padding: 1em 0;
}
#about h2 {
    margin-bottom: 1em;
}

/*************************************************************/
#account label {
    display: inline-block;
    width: 10em;
    text-align: right;
}
.account_button {
    text-align: right;
}
.account_table {
    padding-top: 1em;
}


/*************************************************************/

.form_container_sm {
    display: inline-block;
    width: 35%;
    padding: 0.25em 1em 0.25em 1em;
}

.form_container_lg {
    padding: 0.25em 1em 0.25em 1em;
}

.form_container_sm input[type="text"] {
    width: 100%;
    box-shadow: .2em .1em 3px #f2f2f2;
    height:1.6em;
    font-size:12pt;
    /*box-shadow: 0 0 .3em hsla(0, 0%, 0%, 0); not working*/
}
.form_container_sm input[type="text"]:focus,.form_container_lg textarea:focus{   
    transition: all 0.32s ease-in-out;
    outline: none;
    box-shadow: 0 0 .3em #b3b3b3;
    /*border: 1px solid #8c8c8c;*/
}


.form_container_sm label {
    font-size: 0.75em;
}

/*************************************************************/
@media print {
    body {
        font-size: 12pt;  /* use the font-unit not depending on dpi */ 
    }

    header.page_row {
        background-color: #ffffff;
    }

    header.page_row .centered:after {
        /* put copyright using Unicode hex escape */
        content:"\00A9 Copyright 2017. All Rights Reserved."; 
    }

    article#lesson_content {
        padding: 20px 0px;
        float: none;
    }

    #auth, nav#lessons_nav, .site_nav, footer.page_row { display: none; }
}

/********************************************************************/
/* Index css */
#lesson_grid {
   text-align:center;
}

#lesson_grid h1 {
    padding: 0.5em 0 0.5em 1em;
    text-align: left;
}

#lesson_grid figure {
    padding-bottom: 1em;
    padding-left: 3em;
    display: inline-block;
}

#lesson_grid a:link {
    text-decoration: none;
    color: #0078d7;
    font-weight: bold;
}

#lesson_grid a:visited {
    color: #262DA8;
}

#lesson_grid a:hover figcaption {
    background-color: #E0E7F0;
}

#lesson_grid img {
    vertical-align: middle;
    border: 1px solid #000000;
}

/* index css end */
