/*************************************************************/
/* CATALOG PAGE - catalog.html                               */
/*************************************************************/

#catalog {
    padding: 1em 0;
}

#shortcut_catalog {
    border: 1px solid #000000;
    border-collapse: collapse;
    width: 80%;
    table-layout: fixed;    /* prvent the text from being out of table */
    word-wrap:break-word;   /* use new line when the text exceeds the table width */
    margin: 1em auto;
}

#shortcut_catalog th {
    width: 12em;
    border: 1px solid #000000;
}

#shortcut_catalog td {
    border: 1px solid #000000;
}

#shortcut_catalog th, #shortcut_catalog td {
    padding: 0.1em 0.2em;
}
