/*************************************************************/
/* CONTACT PAGE - contact.html                               */
/*************************************************************/

.form_block_sm {
    display: inline-block;
    width: 35%;
    padding: 0.25em 1em;
}

.form_block_lg {
    display: inline-block;
    width: 70%;
    padding: 0.25em 1em;
}

.form_block_sm input {
    width: 100%;
    box-shadow: .2em .1em 0.2em #f2f2f2;
    height:1.6em;
    font-size:12pt;
    /*box-shadow: 0 0 .3em hsla(0, 0%, 0%, 0); not working*/
}

.form_block_sm input:focus,.form_block_lg textarea:focus{
    transition: all 0.32s ease-in-out;
    outline: none;
    box-shadow: 0 0 .3em #b3b3b3;
    /*border: 1px solid #8c8c8c;*/
}


.form_container_sm label {
    font-size: 0.75em;
}
