/*************************************************************/
/* FORUM - forum.php                                         */
/*************************************************************/

#forum_topics table {
    width: 100%;
}

#forum_topics p {
    margin: 1em 0;
}

#forum_topics p.forum_preview {
    font-size: 0.8em;
    max-width: 35em;
    max-height: 3.4em;
    overflow: hidden;
    margin: 0.1em 0 0.6em 0;
    color: #222;
}



#forum_topics p.forum_preview::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 35em;
    height: 0.3em;
    background: linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.8));
    z-index: 15;
}

#forum_topics th {
    padding-bottom: 0.2em;
}

.forum_post_id_header {
    width: 15%;
}

.forum_topic_header {
    width: 70%;
}

.forum_post_date_header {
    width: 15%;
}

.forum_post_id_cell {
    text-align: left;
    max-width: 8em;
    overflow: hidden;
}

.forum_topic_cell {
    padding: 0.2em 0.5em;
}

.forum_topic_cell a {
    text-decoration: none;
}

.forum_post_date_cell {
    text-align: right;
    padding: 0.2em 0.3em;
}

.date {
    display: block;
}

.time {
    display: block;
    font-size: 0.8em;
    line-height: 1.4em;
    color: #444;
}